:root {
  --bg-color: #f2f5f9;
  --primary-color: #140f26;
  --secondary-color: #aeb5c2;
  --input-field-bg: #e4ebee;
  --green: #00a884;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 8px 30px;
  display: flex;
  flex-direction: column-reverse;
}

.message-container {
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-left: auto;
  display: inline-block;
  margin-right: auto;
  margin-top: 8px;
  padding: 12px 20px;
  color: white;
}

.msg {
  font-size: 0.9rem;
}

.footer {
  width: 100%;
  flex: 0 1 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

#message-field {
  width: 100%;
  padding: 8px 24px;
  border: 0px;
  border-radius: 20px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: var(--input-field-bg);
}

#message-field:focus {
  outline: none;
}

.send-button-container {
  background-color: var(--green);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  border-radius: 50%;
  padding: 2px;
  align-self: center;
  cursor: pointer;
}
