<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Chatting App Built Using FastAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}" />
  </head>
  <body>
    <div class="page">
      <div class="messagesContainer">
        {% for message in messages %}
        <div class="message-container">
          <p class="msg">{{ message.text }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="footer">
        <input
          id="message-field"
          class="message-input"
          type="text"
          placeholder="Type a message"
        />
        <div class="send-button-container" onclick="sendMessage(event)">
          <span>
            <img src="{{ url_for('static', path='send.svg') }}" alt="Send" />
          </span>
        </div>
      </div>
    </div>
    <script>
      var input = document.getElementById("message-field");

      input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementsByClassName("send-button-container")[0].click();
        }
      });

      var ws = new WebSocket("ws://localhost:8000/ws/chat");
      ws.onmessage = function (event) {
        console.log(event.data);
        let jsonObject = JSON.parse(event.data);

        let element = document.createElement("div");
        element.className = "message-container";
        element.innerHTML = `<p>${jsonObject.text}</p>`;
        document
          .getElementsByClassName("messagesContainer")[0]
          .prepend(element);
      };
      function sendMessage(event) {
        var input = document.getElementById("message-field");
        ws.send(input.value);
        input.value = "";
        event.preventDefault();
      }
    </script>
  </body>
</html>
